<h1>Copy + Paste your output here.</h1>
<p>Not sure how to get started?  Here's what you need to do:</p>
<ol>
    <li>Put a breakpoint in your project where you want to inspect the views mid-execution.</li>
    <li>When stopped, type the following in the console:  <tt> [[UIWindow keyWindow] recursiveDescription]</tt> (or instead of the <tt>UIWindow</tt>, you could use a <tt>UIView</tt>)</li>
    <li>Copy + paste the output into this form and we'll draw a visualization of those views.</li>
</ol>
        

<textarea id="sourceDump" class="form-control" rows="10" cols="120"></textarea>
<button type="button" class="btn btn-success btn-lg btn-block">Visualize</button>

